///////////////////////////////////////
// css theme variables / settings


$font-family:       "Helvetica Neue", Algerian, Arial, sans-serif;

$code-font-family:  Comic Sans, Monaco, "Courier New", monospace;


$masthead-color:         #FF1493;
$masthead-small-color:   #FF1493;

$post-title-color:       #FFA500;
$post-date-color:        #DAA520;


$body-color:            #515151;
$body-background-color: #fff;

$link-color:            #268bd2;

$headings-color:        #DDA0DD;    // h1,h2,h3,h4,h5,h6

$strong-color:          #303030;    // strong

$pre-background-color:  #F5DEB3;    // pre

$blockquote-color:        #7a7a7a;  // blockquote
$blockquote-border-color: #e5e5e5;

$table-border-color:         #FF69B4;
$table-odd-background-color: #FFFACD;


